if SHIELD_manta_LEFT

config ZMK_KEYBOARD_NAME
    default "manta"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_manta_LEFT || SHIELD_manta_RIGHT

config ZMK_BLE_EXPERIMENTAL_CONN
    default y

config ZMK_SPLIT
    default y


endif
