#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        l1-alt {
            bindings = <&kp LEFT_ALT>;
            key-positions = <7 6>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E  &kp R  &kp T  &kp LGUI     &kp LCTRL  &kp Y  &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp TAB    &kp A  &kp S  &kp D  &kp F  &kp G  &mo 1        &mo 2      &kp H  &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C  &kp V  &kp B  &kp ENTER    &kp SPACE  &kp N  &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
            >;
        };

        layer_1 {
            bindings = <
&kp GRAVE  &kp N1         &kp N2      &kp N3         &kp N4        &kp N5           &trans      &trans    &kp N6        &kp N7        &kp N8        &kp N9        &kp N0    &kp BSPC
&trans     &kp LS(EXCL)   &kp LS(AT)  &kp LS(POUND)  &kp LS(DLLR)  &kp LS(PRCNT)    &kp LALT    &kp LALT  &kp LS(AMPS)  &kp LS(STAR)  &kp LS(LPAR)  &kp LS(RPAR)  &kp PIPE  &kp RALT
&trans     &kp LS(UNDER)  &kp MINUS   &kp EQUAL      &kp LS(PLUS)  &kp PRINTSCREEN  &trans      &trans    &kp LBKT      &kp RBKT      &kp LS(LBRC)  &kp LS(RBRC)  &kp BSLH  &kp TILDE
            >;
        };

        layer_2 {
            bindings = <
&kp ESC  &kp F1  &kp F2  &kp F3  &kp F4  &kp F5    &kp SPACE    &trans  &trans   &trans    &kp UP    &trans     &kp DEL    &kp RALT
&trans   &kp F6  &kp F7  &kp F8  &kp F9  &kp F10   &kp LALT     &trans  &trans   &kp LEFT  &kp DOWN  &kp RIGHT  &kp PG_UP  &kp RET
&trans   &trans  &trans  &trans  &trans  &kp HOME  &trans       &trans  &kp END  &trans    &trans    &kp ESC    &kp PG_DN  &kp LCTRL
            >;
        };
    };
};
